{% if site.livere and page.comments != false  %}
<br>
<div id="lv-container" data-id="city" data-uid="MTAyMC82MDk2NS8zNzQzNQ==">
<script type="text/javascript">
   var refer = window.location.pathname; // 将 refer 设置为当前页面的相对路径
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
</script>
<noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
</div>

<br><br>
<livere-comment client-id="Zu3RKqH1WP9NkyJ2VIjM"></livere-comment>
<script type="module" src="https://www.livere.org/livere-widget.js"></script>

{% endif %}

{% if site.twikoo and page.comments != false  %}
<br>
<div id="tcomment"></div>
<script src="https://cdn.staticfile.org/twikoo/1.6.40/twikoo.min.js"></script>
<script>
twikoo.init({
  envId: 'https://twikoo.true-dhamma.com',
  el: '#tcomment',
  path: window.location.pathname,
  lang: 'zh-CN',
});
</script>
{% endif %}



