<aside class="aside  typeset  aside--{{ include.align | default: 'right' }}">

  {% if page.layout == "post" %}
    
    <!-- 捕获文章内容生成的目录 -->
    {% capture post_toc %}{{ content | toc_only }}{% endcapture %}
    <!-- 去除前后空格，方便判断是否为空 -->
    {% assign post_toc_trimmed = post_toc | strip %}

    <!-- 判断捕获的目录是否为空 -->
    {% if post_toc_trimmed != "" %}
      <!-- 如果不为空，则显示目录 -->
      <section class="section  section--toc">
        <h3>Index</h3>
        {{ post_toc }}
      </section>

    {% else %}
      <!-- 如果为空，则显示相关文章 -->
      <section class="section  section--related-posts">
        {% include post-related.html %}
      </section>
    {% endif %}


  {% elsif page.layout == "page" or page.layout == "home" %}
    <section class="section  section--description">
      <h3>About this site</h3>
      <p>{{ site.description }}</p>
      {% include nav-social.html %}
    </section>

  {% elsif page.layout == "categories" or page.layout == "blog" %}
    <section class="section  section--category-index">
      <h3>Index</h3>
      {% include nav-categories.html %}
    </section>

  {% endif %}

</aside>