<a class="logo" href="{{ site.baseurl }}/">
  <img src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title | append: ' logo' }}"/>
  <h3>
    <span style="align: left;">&nbsp; {{ site.title }}</span> &nbsp;
    <div class="gtranslate_wrapper"></div>
<script>window.gtranslateSettings = {"default_language":"zh-CN","detect_browser_language":true,"languages":["zh-CN","zh-TW","th","en"],"wrapper_selector":".gtranslate_wrapper"}</script>
<script src="https://cdn.gtranslate.net/widgets/latest/dropdown.js" defer></script>
  </h3>
</a>
