<header class="header">
  <div class="container">
    {% if site.logo %}{% include site-logo.html %}{% endif %}

    {% include nav-header.html %}
  </div>

  {% include site-feature.html %}
</header>

<!-- 防止暗色模式闪烁脚本开始 (请放置在<head>标签内) -->
<script>(function(){const s="nightowl-color-scheme",t="dark";try{const e=localStorage.getItem(s);e===t&&document.documentElement.classList.add("nightowl-dark")}catch(e){}})();</script>
<!-- 防止暗色模式闪烁脚本结束 -->

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?8e011a93010c7c8768cdc64bc31cbc41";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0QKR2G4G79"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0QKR2G4G79');
</script>
