<header class="header">
  // Baidu统计
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?8e011a93010c7c8768cdc64bc31cbc41";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
// Baidu统计结束
  
  <div class="container">
    {% if site.logo %}{% include site-logo.html %}{% endif %}

    {% include nav-header.html %}
  </div>

  {% include site-feature.html %}
</header>
